body {
    font-family: "Nunito", sans-serif;
    background: #f8f8f8;
    color: #707070;
    margin: 0;
    padding: 0;
}

#app-container {
    max-width: 400px;
    min-width: 400px;
}

.title {
    font-weight: 700;
    font-size: 50px;
}

#city,
#country-code {
    border-radius: 2rem;
}

.back-card {
    border-radius: 40px !important;
}

.city-name {
    position: absolute;
    width: 100%;
}

.city-name p {
    font-size: 16pt;
    font-weight: 400;
}

.city-name span {
    font-weight: 400;
    font-size: 36pt;

    font-family: "Times New Roman", Times, serif;
    position: relative;
    top: -60px;
}

.temperature span {
    font-weight: 100;
    font-size: 4.2rem;
    letter-spacing: -5px;
    white-space: nowrap;
}

.card-mid {
    line-height: 0.5;
}

.condition {
    line-height: 1rem;
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.high::before {
    content: "";
    background: url("./../images/up.svg") no-repeat;
    width: 10px;
    height: 15px;
    display: inline-block;
    position: relative;
    top: 3px;
}

.low::before {
    content: "";
    background: url("./../images/down.svg") no-repeat;
    width: 10px;
    height: 15px;
    display: inline-block;
    position: relative;
    top: 3px;
}

.icon-container {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background: #5885e6;
}

.icon-container img {
    margin: auto;
}

.card-bottom {
    line-height: 0.5;
}

.card-bottom span {
    font-size: 12px;
}

.card-bottom p {
    font-size: 35px;
    font-weight: 100;
    letter-spacing: -4px;
}

.card-bottom #feel-like {
    width: fit-content;
}
